.item {
    font-weight: 900;
    font-family: "Orbitron";
    margin: 15px;
    border-radius: 20px;
    background-color: #D9D9D9;
    width: 200px;
    height: 340px;
    padding: 0px;
}

.itemImg {
    margin: 20px 50px;
    width: 100px;
}

.item h1 {
    font-size: 28px;
    font-family: "Henny Penny";
    text-align: center;
}

.item p {
    text-align: center;
}

.priceBox {
    display: flex;
    justify-content: space-around;
}

.item button {
    font-family: 'Orbitron';
    font-weight: bold;
    border-radius: 5px;
    background-color: #D9D9D9;
    border: none;
}

.item button:hover {
    cursor: pointer;
    color: white;
}

.coinImg {
    width: 50px;
}